# Railway/PostgreSQL usa esta variable en produccion.
DATABASE_URL=
API_URL=http://localhost:3000

# Variables para PostgreSQL local.
DB_HOST=localhost
DB_PORT=5432
DB_NAME=miniblog_db
DB_USER=miniblog_user
DB_PASSWORD=12345
PORT=3000
NODE_ENV=development

